	ul {
		margin-left: auto;
	}
	
	body {
		margin: 0px 0px;
		padding: 0px 0px;
	}
	
	.testimonials {
		padding-top: 2%;
		text-align: center;
	}
	
	.carosel {
		padding-top: 2%;
		text-align: center;
	}
	
	.color {
		color: aqua;
	}
	.background
    {
          background-color: #02142D;
    }
